@font-face {
  font-family: 'Font';
  font-display: swap;
  src: url('../font/YeZiGongChangRuiYunNongKaiShu-2.subset.woff2') format("truetype");
}

#nav .menus_items {
  position: absolute !important;
  width: fit-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}

#nav .menus_items .menus_item:hover .menus_item_child {
  display: flex !important;
  font-size: 20px !important;
}

.menus_items .menus_item:nth-child(2) .menus_item_child {
  left: -66px;
}

#nav *::after {
  background-color: transparent !important;
}

#nav #site-name:hover,
#nav .menus_item:hover,
#nav #search-button:hover {
  font-size: 28px;
}


/* 一图流 */
#footer {
  background: transparent !important;
}

#page-header {
  background: transparent !important;
}

#footer::before {
  background: transparent !important;
}

#page-header::before {
  background: transparent !important;
}

[data-theme="dark"] #footer::before {
  background: transparent !important;
}

[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

#aside-content>.card-widget.card-info {
  background: linear-gradient(-45deg,
      #e8d8b9,
      #eccec5,
      #a3e9eb,
      #bdbdf0,
      #eec1ea);
  box-shadow: 0 0 5px rgb(66, 68, 68);
  position: relative;
  background-size: 400% 400%;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite !important;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

[data-theme="dark"] #aside-content>.card-widget.card-info {
  background: rgba(25, 25, 25, 0.88);
  ;
}

#aside-content>.card-widget.card-info>#card-info-btn {
  background-color: #AAAFE3;
  border-radius: 8px;
}

.card-info-avatar .author-status-box {
  position: absolute;
  bottom: 0;
  left: calc(100% - 28px);
  width: 28px;
  height: 28px;
  border: 1px solid #d0d7de;
  border-radius: 2em;
  background-color: #f8f8f8f8;
  transition: 0.4s;
  overflow: hidden;
}

[data-theme="dark"] .card-info-avatar .author-status-box {
  background-color: #222222f2;
  border: 1px solid #5c6060;
}

.card-info-avatar .author-status-box .author-status {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  padding: 0 5px;
}

.card-info-avatar .author-status-box:hover {
  width: 105px;
}

.card-info-avatar .author-status-box:hover .author-status span {
  width: 105px;
  margin-left: 4px;
}

.card-info-avatar .author-status-box .author-status span {
  width: 0;
  font-size: 12px;
  height: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: 0.4s;
}

.card-widget .card-info-avatar {
  display: inline-block;
  position: relative;
}


[data-theme="light"] .avatar-img {
  animation: huxi_light 4s ease-in-out infinite;
}

[data-theme="dark"] .avatar-img {
  animation: huxi_dark 4s ease-in-out infinite;
}

@keyframes huxi_light {
  0% {
    box-shadow: 0px 0px 2px 2px #FA8BFF;
  }

  50% {
    box-shadow: 0px 0px 4px 4px #2BD2FF;
  }

  100% {
    box-shadow: 0px 0px 2px 2px #2BFF88;
  }
}

@keyframes huxi_dark {
  0% {
    box-shadow: 0px 0px 2px 2px #3c73c9;
  }

  50% {
    box-shadow: 0px 0px 4px 4px #EE74E1;
  }

  100% {
    box-shadow: 0px 0px 2px 2px #b02aeb;
  }
}

#recent-posts>.recent-post-item>.recent-post-info>.content {
  opacity: 0;
  line-height: .7;
  transition: all .3s;
  bottom: 0
}

#recent-posts>.recent-post-item:hover .recent-post-info .content {
  opacity: 1;
  line-height: 1.5;
  transition: all .3s
}

.newPost-left,
.newPost-right {
  position: absolute;
  top: 0;
  color: white;
  padding: 0 15px;
  background-color: #6C52B5;
  border-radius: 0 0 10px 10px;
}

.newPost-left {
  left: 15px;
}

.newPost-right {
  right: 15px;
}

:root {
  --trans-light: rgb(255 255 255 / 95%);
  --trans-dark: rgba(25 25 25 / 95%);
  --border-style: 0.1px solid #342738;
  --backdrop-filter: blur(5px) saturate(150%);
}

#recent-posts>.recent-post-item {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 10px;
  border: var(--border-style);
}

#aside-content .card-widget {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border-radius: 10px;
  border: var(--border-style);
}

div#post,
div#page,
div#archive {
  background: var(--trans-light);
  backdrop-filter: var(--backdrop-filter);
  border: var(--border-style);
  border-radius: 10px;
}

#page-header.nav-fixed #nav {
  background: rgba(255, 255, 255, 0.75);
  backdrop-filter: var(--backdrop-filter);
}

[data-theme="dark"] #page-header.nav-fixed #nav {
  background: rgba(0, 0, 0, 0.7) !important;
}

[data-theme="dark"] #recent-posts>.recent-post-item,
[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
  background: var(--trans-dark);
}

[data-theme="dark"] #footer::before {
  background: transparent !important;
}

[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

/* 阅读模式 */
.read-mode #aside-content .card-widget {
  background: rgba(158, 204, 171, 0.5) !important;
}

.read-mode div#post {
  background: rgba(158, 204, 171, 0.5) !important;
}

[data-theme="dark"] .read-mode #aside-content .card-widget {
  background: rgba(25, 25, 25, 0.9) !important;
  color: #ffffff;
}

[data-theme="dark"] .read-mode div#post {
  background: rgba(25, 25, 25, 0.9) !important;
  color: #ffffff;
}

/* 文章页H1-H6图标样式效果 */
h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  -webkit-animation: ccc 4s linear infinite;
  animation: ccc 4s linear infinite;
}

/* -1turn 为逆时针转动，1turn 为顺时针转动 */
@-webkit-keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}

@keyframes ccc {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(-1turn);
    transform: rotate(-1turn);
  }
}

#content-inner.layout h1::before {
  color: #ef50a8;
  /* margin-left: -1.55rem; */
  font-size: 1.3rem;
  margin-top: -0.23rem;
}

#content-inner.layout h2::before {
  color: #fb7061;
  font-size: 1.1rem;
  margin-top: -0.12rem;
}

#content-inner.layout h3::before {
  color: #ffbf00;
  font-size: 0.95rem;
  margin-top: -0.09rem;
}

#content-inner.layout h4::before {
  color: #a9e000;
  font-size: 0.8rem;
  margin-top: -0.09rem;
}

#content-inner.layout h5::before {
  color: #57c850;
  font-size: 0.7rem;
  margin-top: 0rem;
}

#content-inner.layout h6::before {
  color: #5ec1e0;
  font-size: 0.66rem;
  margin-top: 0rem;
}

#content-inner.layout h1:hover,
#content-inner.layout h2:hover,
#content-inner.layout h3:hover,
#content-inner.layout h4:hover,
#content-inner.layout h5:hover,
#content-inner.layout h6:hover {
  color: var(--theme-color);
}

#content-inner.layout h1:hover::before,
#content-inner.layout h2:hover::before,
#content-inner.layout h3:hover::before,
#content-inner.layout h4:hover::before,
#content-inner.layout h5:hover::before,
#content-inner.layout h6:hover::before {
  color: var(--theme-color);
  -webkit-animation: ccc 6s linear infinite;
  animation: ccc 6s linear infinite;
}

.loading-img {
  background: url(/img/avatar.png) no-repeat center center;
  background-size: cover;
}

#ft {
  max-width: 1200px;
  margin: 0 auto 12px;
  display: flex;
  color: rgb(255 255 255 / 80%) !important;
  text-align: left;
  flex-wrap: wrap;
}

.ft-item-1,
.ft-item-2 {
  display: flex;
  height: 100%;
  padding: 2px 14px;
}

.ft-item-1 {
  flex-direction: column;
  flex: 2;
}

.ft-item-2 {
  flex: 1;
  flex-direction: column;
}

.t-top {
  display: flex;
}

.t-top .t-t-l {
  display: flex;
  flex-direction: column;
  flex: 1.4;
  margin-right: 10px;
}

.t-top .t-t-l .bg-ad {
  width: 85%;
  border-radius: 10px;
  padding: 0 10px;
}

.btn-xz-box {
  margin-top: 10px;
}

/* 按钮背景颜色等 */
.btn-xz {
  display: block;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  text-align: center;
  line-height: 2.4;
  margin: 8px 0;
}

.btn-xz:hover {
  text-decoration: none !important;
}

/* 按钮悬浮颜色 */
.btn-xz-box:hover .btn-xz {
  background-color: var(--text-bg-hover);
}

.t-top .t-t-r {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.ft-links {
  padding: 0 14px;
  list-style: none;
  margin-top: 0 !important;
}

.ft-links li a {
  display: inline-block !important;
  width: 50%;
}

/* 链接悬浮颜色 */
.ft-links li a:hover {
  text-decoration: none !important;
  color: var(--theme-color) !important;
}

.ft-item-2 .ft-img-group {
  width: 100%;
}

.ft-t {
  font-size: 1.1rem;
  margin-bottom: 20px;
  line-height: 1;
  font-weight: 600;
}

.t-l-t {
  padding-left: 14px;
}

.ft-item-2 .ft-img-group .img-group-item {
  display: inline-block;
  width: 18.4%;
  margin-right: 14px;
  margin-bottom: 6px;
}

.ft-item-2 .ft-img-group .img-group-item a {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.ft-item-2 .ft-img-group .img-group-item a img {
  width: 100%;
  max-height: 80px;
  border-radius: 10px;
}

/* 头像悬浮颜色框 */
.ft-item-2 .ft-img-group .img-group-item a img:hover {
  border: 2px solid var(--theme-color);
}

@media screen and (max-width: 768px) {
  .ft-item-1 {
    flex-basis: 100% !important;
  }

  .ft-item-2 {
    flex-basis: 100% !important;
  }

  .t-top .t-t-l .bg-ad {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .t-top {
    flex-wrap: wrap;
  }

  .t-top .t-t-l {
    flex-basis: 100% !important;
  }

  .t-top .t-t-r {
    margin-top: 16px;
    flex-basis: 100% !important;
  }
}

#footer-wrap a {
  border-radius: 30px;
}

#footer-wrap {
  padding: 20px 20px;
}

#card-tuijian#card-tuijian#card-tuijian#card-tuijian {
  background: linear-gradient(to right, #46a59f, #5f88ae) !important;
  padding: 15px 0;
  height: 118px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

#card-tuijian #tj-box {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: cubic-bezier(0, 0, 0, 1.29) 0.4s;
}

#card-tuijian #tj-box2 {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

#card-tuijian #tj-box1,
#card-tuijian #tj-box2 {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

#card-tuijian #tj-img-box {
  border-radius: 12px;
  margin-left: 10px;
  height: 85px;
}

#card-tuijian #tj-img-box img {
  height: 85px;
  border-radius: 12px;
  filter: brightness(0.95) !important;
}

#card-tuijian #tj-left {
  color: #fff;
  height: 85px;
}

#card-tuijian #tj-left p {
  font-family: monospace, Arial;
  margin: 10px 0 0;
  font-size: 32px;
  line-height: normal;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: -0.5px 0.5px 0 rgba(255, 255, 255, 0.9), 0.5px 0.5px 0 rgba(255, 255, 255, 0.9), 0.5px -0.5px 0 rgba(255, 255, 255, 0.9), -0.5px -0.5px 0 rgba(255, 255, 255, 0.9);
}

#card-tuijian #tj-left span {
  font-size: 15px;
  font-weight: 800;
}

#card-tuijian:hover #tj-box {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

:root {
  --muyoukule-white: #fff;
  --muyoukule-white-op: rgba(255, 255, 255, 0.2);
  --muyoukule-black: #000;
  --muyoukule-black-op: rgba(0, 0, 0, 0.2);
  --muyoukule-gray: #999999;
  --muyoukule-gray-op: #9999992b;
  --muyoukule-main: var(--muyoukule-theme);
}

[data-theme=light] {
  --muyoukule-theme: #425AEF;
  --muyoukule-theme-op: rgba(66, 89, 239, 0.137);
  --muyoukule-fontcolor: #363636;
  --muyoukule-maskbg: rgba(255, 255, 255, 0.6);
  --muyoukule-hovertext: var(--muyoukule-main);
  --muyoukule-lighttext: var(--muyoukule-main);
  --muyoukule-secondtext: rgba(60, 60, 67, 0.8);
  --muyoukule-secondbg: #f1f3f8;
  --muyoukule-card-bg: #fff;
  --muyoukule-card-border: #e3e8f7;
  --muyoukule-shadow-border: 0 8px 16px -4px #2c2d300c;
  --style-border: 1px solid var(--muyoukule-card-border);
  --style-border-always: 1px solid var(--muyoukule-card-border);
  --style-border-hover: 1px solid var(--muyoukule-main);
}

[data-theme=dark] {
  --muyoukule-theme: #f2b94b;
  --muyoukule-theme-op: #f2b94b23;
  --muyoukule-fontcolor: #F7F7FA;
  --muyoukule-maskbg: rgba(0, 0, 0, 0.6);
  --muyoukule-hovertext: #0A84FF;
  --muyoukule-lighttext: var(--muyoukule-theme);
  --muyoukule-secondtext: #a1a2b8;
  --muyoukule-secondbg: #30343f;
  --muyoukule-card-bg: #1d1e22;
  --muyoukule-card-border: #3d3d3f;
  --muyoukule-shadow-border: 0 8px 16px -4px #00000050;
  --style-border: 1px solid var(--muyoukule-card-border);
  --style-border-always: 1px solid var(--muyoukule-card-border);
  --style-border-hover: 1px solid var(--muyoukule-theme);
}

.page-title {
  display: none;
}

/* bb哔哔 */
/* bb样式 */
#bber .timeline #waterfall {
  opacity: 0;
  transition: 0.3s;
}

#bber .timeline #waterfall.show {
  opacity: 1;
  padding-left: 0px;
}

#bber .timeline ul li.item {
  position: relative;
  width: 48%;
  border: var(--style-border-always);
  border-radius: 12px;
  padding: 1rem;
  padding-bottom: 0.5rem;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  background: var(--muyoukule-card-bg);
  box-shadow: var(--muyoukule-shadow-border);
}

#bber .timeline ul li.item hr {
  display: flex;
  position: relative;
  margin: 8px 0;
  border: 1px dashed var(--muyoukule-theme-op);
  width: 100%;
}

@media screen and (max-width: 768px) {
  #bber .timeline ul li.item {
    padding: 0;
  }
}

#bber .timeline ul li.item:hover {
  border: var(--style-border-hover);
}

#bber ul.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

#bber li.item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}


@media screen and (max-width: 768px) {
  #bber .timeline ul li.item {
    width: 100%;
    margin-right: 0;
  }

  #bber .timeline ul li.item {
    padding: 16px 20px;
  }
}

.timeline ul .list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* 标题 */
.bb-info {
  display: inline;
  float: right;
  line-height: 1;
  color: var(--muyoukule-secondtext);
  margin-left: auto;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
}

.bb-info:hover {
  color: var(--muyoukule-hovertext);
}

#bber {
  margin-top: 1rem;
  width: 100%;
}

/* 每条动态 */
#bber div.bber-content {
  display: flex;
  flex-direction: initial;
  flex-wrap: wrap;
  border-radius: 12px;
  width: 100%;
  height: 100%;
}

#bber>section>ul>li.item {
  margin-bottom: 1rem;
}

#bber .bber-info {
  display: flex;
  align-items: center;
}

#bber .bber-info .fa-rectangles-mixed {
  margin-right: 8px;
}

#bber .bber-content-link {
  display: flex;
  margin-left: 0.5rem;
  color: var(--muyoukule-secondtext);
  font-size: 0.9rem;
  align-items: center;
  background-color: rgba(245, 108, 108, 0.13);
  color: #f56c6c;
  padding: 0 8px;
  border-radius: 20px;
}

#bber .bber-content-link:hover {
  background-color: var(--muyoukule-main);
  color: var(--muyoukule-white);
}

#bber .bber-content-link i {
  margin-right: 3px;
  font-size: 16px;
}

#bber .bber-bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
  user-select: none;
}

#bber .count {
  color: var(--muyoukule-secondtext);
  font-size: 0.8rem;
}

#bber p {
  margin: 0;
}

#bber .datafrom i {
  margin-right: 4px;
}

/* 音乐 */
#bber .bber-music {
  width: 100%;
  height: 90px;
  margin: 0.5rem 0;
  border-radius: 8px;
  /* overflow: hidden; */
  border: var(--style-border-always);
  background: var(--muyoukule-secondbg);
}

#bber .aplayer {
  margin: 0;
}

#bber .aplayer .aplayer-info .aplayer-music .aplayer-title {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
  color: var(--muyoukule-black);
}

#bber .aplayer.aplayer-withlrc .aplayer-pic {
  height: 82px;
  width: 82px;
  margin: 4px;
  border-radius: 4px;
}

#bber .aplayer .aplayer-info .aplayer-music {
  height: 23px;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap {
  padding: 0;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
  background: var(--muyoukule-gray);
  height: 8px;
  border-radius: 12px;
  transition: 0.3s;
  overflow: hidden;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap:hover .aplayer-bar {
  height: 12px;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played {
  height: 100%;
  border-radius: 12px;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
  height: 100%;
  border-radius: 12px;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
  display: none;
}

#bber .aplayer .aplayer-info .aplayer-controller {
  align-items: center;
}

#bber .aplayer .aplayer-info .aplayer-controller .aplayer-time {
  position: initial;
}

#bber .bber-music .aplayer-lrc {
  display: none;
}

/* 只能展示30条的提示 */
#bber-tips {
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

/* 图片 */
#bber .bber-content-img img {
  object-fit: cover;
  max-height: 100%;
  border-radius: 12px;
  min-height: 100px;
  height: 100px;
}

#bber .bber-content-img {
  height: 100px;
  margin: auto;
  margin-top: 0.2rem;
  margin-bottom: 0.3rem;
  margin-left: 0;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  position: relative;
}

/* 时间 */
#bber>section>ul>li>div .bber-info-time {
  color: var(--muyoukule-fontcolor);
  font-size: 0.9rem;
  background-color: var(--muyoukule-gray-op);
  padding: 0 8px;
  border-radius: 20px;
  cursor: default;
  display: flex;
  align-items: center;
}

#bber>section>ul>li>div .bber-info-time i {
  margin-right: 8px;
  font-size: 16px;
}

/* 内容 */
#bber .bber-content .datacont {
  order: 0;
  font-size: 1rem;
  font-weight: bold;
  color: var(--muyoukule-fontcolor);
  width: 100%;
  line-height: 1.38;
  border-radius: 12px;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

/* 一行内容 */
.author-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

/* 一行内容，纵向组件 */
.author-content-item-group.column {
  display: flex;
  flex-direction: column;
  width: 49%;
  justify-content: space-between;
}

/* 一行内容，横向组件 */
.author-content-item {
  width: 49%;
  border-radius: 24px;
  background: var(--muyoukule-card-bg);
  border: var(--style-border-always);
  box-shadow: var(--muyoukule-shadow-border);
  position: relative;
  padding: 1rem 2rem;
  overflow: hidden;
}

.author-content-item.single {
  width: 100%;
}

.author-content-item .author-content-item-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.author-content-item .author-content-item-tips {
  opacity: 0.8;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 768px) {
  .author-content-item {
    width: 100% !important;
    margin-top: 1rem;
    padding: 1rem;
  }

  .author-content-item-group.column {
    width: 100% !important;
  }

  .author-content {
    margin-top: 0rem;
  }
}

.card-background-icon {
  font-size: 12rem;
  opacity: 0.2;
  position: absolute;
  right: 0;
  bottom: -40%;
  transform: rotate(30deg);
  transition: 2s ease-in-out;
}

.author-content-item:hover .card-background-icon {
  transform: rotate(20deg);
}

.author-content-item .card-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.author-content-item .content-bottom {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-content-item .card-content .author-content-item-title {
  margin-bottom: 0.5rem;
}

.author-content-item .card-content .banner-button-group {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
}

.author-content-item .card-content .banner-button-group .banner-button {
  height: 40px;
  width: 118px;
  border-radius: 20px;
  justify-content: center;
  background: var(--muyoukule-black-op);
  color: var(--muyoukule-white);
  display: flex;
  align-items: center;
  z-index: 1;
  transition: .3s;
  cursor: pointer;
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-backdrop-filter: blur(20px);
  transform: translateZ(0);
}

.author-content-item .card-content .banner-button-group .banner-button:hover {
  background: var(--muyoukule-main);
  color: var(--muyoukule-white);
}

.author-content-item .card-content .banner-button-group .banner-button i {
  margin-right: 8px;
  font-size: 22px;
}

@media screen and (max-width: 768px) {
  .author-content-item .card-content .banner-button-group {
    right: 1rem;
    bottom: 1rem;
  }

  .author-content-item .card-content .banner-button-group .banner-button {
    background: none;
    color: var(--muyoukule-white);
    padding: 0;
    width: fit-content;
  }

  .author-content-item .card-content .banner-button-group .banner-button i {
    margin-right: 0;
    font-size: 1.5rem;
  }

  .author-content-item .card-content .banner-button-group .banner-button-text {
    display: none;
  }
}

/* 即刻短文 */
.author-content.author-content-item.essayPage {
  height: 19rem;
  background: url(https://cloud-image-host.oss-cn-beijing.aliyuncs.com/page/essayPage.png) no-repeat bottom;
  background-size: cover;
  color: var(--muyoukule-white);
  overflow: hidden;
  margin-top: 0;
}